%br
%section#tables
  %header
    %h1 Invoices
  
  -if @invoices.blank?
    .row-fluid
      .span12
        .alert.alert-block
          %h4.alert-heading No Invoices
          %p There are no invoices created with InvoiceXpress in your store yet.
  
  -else
    %table.table.table-striped.full-section.table-hover
      %thead
        %tr
          %th Order no
          %th Created at
          %th Client 
          %th Total
          %th Action
      %tbody
      - @invoices.each do |invoice| 
        %tr
          %td.primary
            = link_to invoice.order_number, "https://#{shop_session.url}/admin/orders/#{invoice.order_id}", :target => 'blank'
          %td
            = invoice.created_at.strftime("%d %b %Y")
          %td
            = invoice.email
          %td
            = "#{invoice.total} EUR" 
          %td
            .btn-group
              %a.btn.btn-success{:href=>"https://#{@shop.invoice_user}.invoicexpress.net/invoices/#{invoice.invoice_id}", :target=>'blank'} View
