%section#tables
  %header
    %h1 Invoices
  
  -if @invoices.blank?
    .row-fluid
      .span12
        .alert.alert-block
          %h4.alert-heading No Invoices
          %p There are no invoices created with InvoiceXpress in your store yet.
  
  -else
    %table.table.table-striped.full-section.table-hover
      %thead
        %tr
          %th Order no
          %th Created at
          %th Payment Status
          %th Total
          %th Ref. MB
          %th Action
      %tbody
      - @invoices.each do |invoice| 
        %tr
          %td.primary
            = link_to invoice.order_number, "https://#{shop_session.url}/admin/orders/#{invoice.order_id}", :target => 'blank'
          %td
            = invoice.created_at
          %td
            %span.label{:class=>paymentStatus(payment)}
              = payment.status
          %td
            = payment.value
          %td
            = payment.mb_reference
          %td
            .btn-group
              %a.btn View
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Generate new MB Reference', generate_mb_reference_order_path(payment.order_id)
                %li
                  = link_to 'Check for payment', payment_verify_path(payment.id)
