%br

%section#tables
  %header
    .pull-right
      %a.btn{ :href=> "#", :id=>'tourhome'} Tour
    %h1 Recent Orders

  -if @orders.blank?
    .row-fluid
      .span12
        .alert.alert-block
          %h4.alert-heading Welcome
          %p Your store doesn't have any orders.

  -else
    %table#orders_table.table.full-section.table-hover
      %thead
        %tr
          %th Order
          %th Customer
          %th Payment Status
          %th Fulfillment
          %th Invoice
          %th Total
          %th Action
      %tbody
      - @orders.each do |order|
        - db_invoice= @db_invoices.select { |dbinvoice| dbinvoice.order_id == order.id }.first
        %tr
          %td.primary
            = link_to order.name, "https://#{shop_session.url}/admin/orders/#{order.id}", :target => 'blank'
          %td = customer_name_helper(order)
          %td
            %span.label{:class=>orderStatus(order)}
              = order.financial_status
          %td
            %span.label{:class=>orderFulfilmentStatus(order)}
              = orderFulfilmentLabel(order)
          %td
            - if db_invoice
              %span.label.label-success
                Yes
            - else
              %span.label.label-warning
                No
          %td
            = order.total_price
            = order.currency
          %td
            - unless db_invoice
              = link_to 'Create Invoice', new_invoice_path(:order_id=>order.id), :class=>'btn btn-success'
            - else
              %a{:href=>"https://#{@shop.invoice_user}.invoicexpress.net/invoices/#{db_invoice.invoice_id}", :target=>'blank', :class=>'btn btn-success'} Open in InvoiceXpress

    = paginate @orders, :theme=>'twitter-bootstrap'
