%br

%section#tables
  %header
    %h1 Recent Orders
  
  -if @orders.blank?
    .row-fluid
      .span12
        .alert.alert-block
          %h4.alert-heading Oops
          %p There are no orders in your store yet.
  
  -else
    %table.table.table-striped.full-section.table-hover
      %thead
        %tr
          %th Order
          %th Placed by
          %th Payment Status
          %th Fulfillment
          %th Method
          %th Total
          %th Action
      %tbody
      - @orders.each do |order| 
        %tr
          %td.primary
            = link_to order.name, "https://#{shop_session.url}/admin/orders/#{order.id}", :target => 'blank'
          %td=order.billing_address.name
          %td
            %span.label{:class=>orderStatus(order)}
              = order.financial_status
          %td 
            %span.label{:class=>orderFulfilmentStatus(order)}
              = orderFulfilmentLabel(order)
          %td
            = order.gateway
          %td 
            = order.total_price
            = order.currency
          %td
            .btn-group
              %a.btn.btn-primary{ :href=> "https://#{shop_session.url}/admin/orders/#{order.id}", :target => 'blank'} View
              %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Create Invoice', new_invoice_path(:order_id=>order.id) 
                %li.divider
                %li
                  = link_to 'Send E-mail with Invoice', "#"
 