%aside
  %nav
    %ul.nav
      %li.selected
        = link_to raw('<i class="icon-play"></i> Dashboard'), root_url
      %li
        = link_to raw('<i class="icon-th-list icon-white"></i> Orders'), '#'
      %li
        = link_to raw('<i class="icon-user icon-white"></i> Settings'), '#'
      %li
        = link_to raw('<i class="icon-retweet icon-white"></i> Documentation'), '#'
      %li
        = link_to raw('<i class="icon-retweet icon-white"></i> Help'), '#'