!!!
%html{:lang => "en"}
  %head
    %title InvoiceXpress Shopify App
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/    
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application'
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/assets/shopify-57.png", :rel => "apple-touch-icon"}/
    %link{:href => "/assets/shopify-72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/assets/shopify-114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
      / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    = render "layouts/navigation"
    
    .container
      .content
        = render "layouts/messages"
        - unless params[:action]=='setup' || params[:action]=='step1'
          = render "layouts/validate_api"

        = yield

      %footer
        %p 
          A Shopify app by
          %a{:href=>'http://www.invoicexpress.net', :target=>'blank'} InvoiceXpress
          | View the 
          %a{:href=>'http://www.invoicexpress.net', :target=>'blank'} Terms
          All rights reserved
    / /container
    = javascript_include_tag 'application'
